@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


.bg-dark {
    background-color: #ebb43f!important;
}
.d-flex{
    border-radius: 50px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}